@import "tailwindcss";

:root {
  --background: #2A1013;
  --foreground: #E6DCC7;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-heading: var(--font-space-mono);
  --font-body: var(--font-jetbrains-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
